/* page4.html */
.p1hello{
    font-family:'Lora', serif !important;
}
#p4{
    background-color: #7F8AB1;
    font-family:'Lora', serif;
}

.search-container {
    margin-top: 2%;
    margin-left: 1%;
    font-size: 17px;
    display: flex;
}

input[type=text], button {
    padding: 6px;
    margin-top: 8px;
    font-size: 22px;
    border: none;
    font-family: 'Lora', serif;
  }
  
.responses{
	margin-top: 0;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    text-align: center;
    margin-left: 1%;
}

#img1{
    grid-column: 1/2;
    grid-row: 1/2;
    border: #ECD3A9 solid 22px;
    background-color: #ECD3A9;
}
#img2{
    grid-column: 2/3;
    grid-row: 1/2;
    border: #ECD3A9 solid 22px;
    background-color: #ECD3A9;
}
#img3{
    grid-column: 3/4;
    grid-row: 1/2;
    border: #ECD3A9 solid 22px;
    background-color: #ECD3A9;
}
#img4{
    grid-column: 1/2;
    grid-row: 2/3;
    border: #ECD3A9 solid 22px;
    background-color: #ECD3A9;
}

#img5{
    grid-column: 2/3;
    grid-row: 2/3;
    border: #ECD3A9 solid 22px;
    background-color: #ECD3A9;
}

#img6{
    grid-column: 3/4;
    grid-row: 2/3;
    border: #ECD3A9 solid 22px;
    background-color: #ECD3A9;
}

img{
    width: 80%;
    height: 65%;
    object-fit: cover;
}

.imgtxt {
    margin-top: 25px;
    font-size: 28px;
}
a
{ text-decoration: none; 
    color: #000;
}
a:hover{
    text-decoration: underline;
}

/* p2 css */
.image {
    position: absolute;
    width: 687px;
    height: 836px;
    left: 0px;
    top: -24px;
}

#p2 {
    background-color: tan;
    /* display: none; */
}

#buttons {
    position: absolute;
    width: 548px;
    height: 485px;
    left: 687px;
    top: 0px;
    padding-top: 320px;
    padding-left: 100px;
    padding-right: 100px;
}

.prompt {
    position: absolute;
    width: 548px;
    height: 100px;
    left: 687px;
    top: 150px;
    padding-top: 50px;
    padding-left: 120px;
    color: seagreen;
    font-family:'Optima',sans-serif;
    font-size: 75px;
    font-weight:300;
}

button {
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-size: 25px;
    font-weight:300;
    color:#FFFFFF;
    background-color:tan;
    text-align:center;
    color: seagreen;
    transition: all 0.2s;
    border: 2px solid seagreen;
}

button:hover{
    background-color: seagreen;
    color: tan;
}

.go {
    position: absolute;
    height: 100px;
    left: 150px;
    top: 550px;
    padding-top: 150px;
    padding-left: 120px;
}

@media all and (max-width:30em){
    button{
        display:block;
        margin:0.2em auto;
    }
}
/*end of p2*/

/*p1*/
#p1 {
    background-color: black;
}

.p1img{
    position: absolute;
    width: 687px;
    height: 836px;
    left: 250px;
    top: -24px;
    opacity: 0.88;
}

.p1buttons {
    position: absolute;
    width: 548px;
    height: 485px;
    left: 700px;
    top: 0px;
    padding-top: 320px;
    padding-left: 100px;
    padding-right: 100px;
}

#p1butt {
    display:inline-block;
    padding:14px 40px;;
    margin:0 0.3em 0.3em 0;
    margin-top: 240px;
    border-radius:2px;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto', sans-serif;
    font-size: 25px;
    font-weight:300;
    color:#FFFFFF;
    background-color: gainsboro;
    text-align:center;
    color: black;
    transition: all 0.2s;
    border: 2px solid black;  
}

#p1butt:hover{
    background-color: gray;
    color: gainsboro;
    font-family:'Lora', serif !important;
}

.p1hello{
    position: absolute;
    width: 548px;
    height: 100px;
    left: 680px;
    top: 320px;
    padding-top: 50px;
    padding-left: 120px;
    color: gray;
    font-family:'Lora', serif !important;
    font-size: 150px;
    font-weight:300; 
}